* {
    font-family: var(--font-family);
}
.gradient__text {
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 62px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -0.04em;
    text-align: left;
    z-index: 1;
    max-width: 614px;
}
.gpt3__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items:  center;
}
.gpt3__header-content {
    display: flex;
    justify-content: space-around ;
    align-items:  center;
    width: 100%;
    height: 100%;
}
.gpt3__header-content_desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(129, 175, 221, 1);
    max-width: 554px;

}
.gpt3__header-content__image img {
    max-width: 100%;
    max-height: 701.59px;
}
.gpt3__header-content__input button {
    color: white;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 27.32px;
    background: #FF4820;
    border: none;
    outline: none;
    cursor: pointer;
    height: 100%;
    width: 174px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.gpt3__header-content__input {
    height: 73px;
    display: flex;
    align-items: center;
}
.gpt3__header-content__input input {
    height: 73px;
    width: 456px;
    background: rgba(5, 45, 86, 1);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: rgba(61, 97, 132, 1) ;
}
.gpt3__header-content__input input::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: rgba(61, 97, 132, 1);
    padding-left: 2.5rem;
}
.gpt3__header-content__people {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 500px;
    width: 500px;
    margin-left: -18px;
}
.gpt3__header-content__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 557.89px;
}
.gpt3__header-companies_wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.gpt3__header-companies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 671px;
}

@media screen and (max-width: 1142px) {
    .gpt3__header-content__image {
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    .gpt3__header-content__text h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .gpt3__header-content__text p {
        font-size: 16px;
        line-height: 24px;
    }
    .gpt3__header-content__input input, .gpt3__header-content__input button {
        font-size: 15px;
        line-height: 24px;
    }
    .gpt3__header-content__people {
        width: 600px;
    }
}
@media screen and (max-width: 700px) {
    .gpt3__header-content__text h1 {
        font-size: 40px;
        line-height: 55px;
    }
    .gpt3__header-content__text p {
        font-size: 15px;
        line-height: 23px;
    }
    .gpt3__header-content__input input {
        width: 400px;
        display: inline-block;
        vertical-align: middle;
    }
    .gpt3__header-content__input button {
        width: 150px;
        display: inline-block;
        vertical-align: middle;
    }
    .gpt3__header-content__people {
        max-width: 570px;
    }
    .gpt3__header-content__people p {
        max-width: 400px;
        font-size: 10px;
    }
}
@media screen and (max-width: 580px) {
    .gpt3__header {
        height: 700px;
    }
    .gpt3__header-content {
        width: 580px;
    }
    .gpt3__header-content__text h1 {
        width: 510px;
    }
    .gpt3__header-content__text {
        font-size: 15px;
        line-height: 23px;
        width: 480px;
    }
    .gpt3__header-content__input {
        overflow: clip;
        width: 430px;
        display: inline-block;

    }
    .gpt3__header-content__input input {
        width: 340px;
    }
    .gpt3__header-content__input button {
        width: 90px;
        font-size: 12px;
    }
    .gpt3__header-content__people {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 400px;
        height: 90px;
        align-items: center;
        text-align: center;
        margin: 0;
    }
    .gpt3__header-companies {
        scale: 0.7;
    }
}
@media screen and (max-width: 440px) {
    .gpt3__header-content {
        width: 360px;
    }
    .gpt3__header-content__text h1 {
        font-size: 36px;
        width: 360px;  
    }
    .gpt3__header-content__text {
        width: 360px;
    }
    .gpt3__header-content_desc {
        width: 360px;
        font-size: 14px;
    }
    .gpt3__header-content__input {
        width: 360px;


    }
    .gpt3__header-content__input input {
        width: 262px;
    }
}